html{
  scroll-behavior: smooth;
}
*{ 
    margin: 0;
    padding: 0;
}
#banner{
    background:  linear-gradient(rgba(0,0,0,0.5),#1e9e91), url(3.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;

}
.logo{
    width: 350px;
    height: 180px;
    top: 40px;
    position: relative;
    align-items: left;
    width: 320px;
    height: 100px;
    position: relative;

    
    top: 0;
    background: #ffffffbe;
    z-index: 1;
}
.him-text{
    padding-top: 290px ;
    text-align: center;
    color: white;
}
.him-text h1{
    font-size: 100px;
    color: rgb(224, 216, 170); 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      
}
.him-text p{
    font-size: 50px; 
    font-style: italic;  
}
.him-btn {
    
    margin: 70px auto 0;
    text-align: center;
    position: relative;
    
}
.him-btn a{
    text-align: top;
    width: 150px;
    text-decoration:none;
    display: inline-block;
    margin:  0 10px;
    padding:  12px 0;
    color: white;
    border: .5px solid;
    position: relative;
    z-index: 1;
    top: 0;
}
.him-btn a span{
    width: 0%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(47, 140, 228);
    z-index: -1;
    transition: 0.5s;
}
.him-btn a:hover span {
    width: 100%;
}
.him-btn a:hover {
    color: rgb(255, 255, 255);
}
.him-btn {
    width: 920px;
    height: 00px;
    position: fixed;
    right: 0;
    top: 0;
    background: #f311119c;
    z-index: 2;
}
nav {
    list-style:none;
    margin: 50px 20px;
}
 nav li a {
    text-decoration:none;
    color: rgb(30, 110, 190);   
}

/* HEADER */
.header {
    position: absolute;
    top: 0;
    z-index: 100;
    background-color: transparent;
    padding-top: 4.3rem;
    width: 100%;
  }
  
  .header .container {
    padding: 0;
  }
  
  .header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 4.4rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  
  .header__nav {
    margin-left: auto;
  }
  
  .header__nav ul {
    display: inline-block;
    margin-bottom: 0;
  }
  
  .header__nav li {
    list-style: none;
    display: inline-block;
  }
  
  .header__nav li a {
    font-size: 1.4rem;
    color: #ffffff;
    text-transform: uppercase;
    padding: 0 2.35rem;
    font-weight: 500 !important;
  }
  
 
 
    }  
/* HEADER end */
    
    
    /*--feature--*/


  
    

    .title-text p{
        margin: auto;
        font-size: 40px;
        color:rgb(45, 125, 131) ;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
#feature-one{
      background:   url(about.jpg);
      background-size: cover;
      background-position: center;
      height: 100vh;
      
}
@media (min-width: 991.98px) {
  feature-one
}
#feature-second{
  background:  url(collection.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#feature-third{
  background:  url(contact.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

  @media (min-width: 991.98px) {
    position: relative;
